textblob==0.15.1
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
tweepy==3.6.0
typing==3.6.2
unicodecsv==0.14.1
urllib3==1.22
vaderSentiment==2.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.2
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.4
xlwt==1.2.0
zict==0.1.3
